html {
    font-size: 16px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
    border-collapse: collapse;
}

.div {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */